.editor {
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  grid-area: editor;
  grid-template-rows: min-content 1fr;
  grid-template-areas: "controls" "code-editor";
}
.code-editor {
  z-index: 0;
  grid-area: code-editor;
}

.ace_scrollbar::-webkit-scrollbar {
  transform: translateX(100px);
  width: 5px;
  height: 5px;
}
.ace_scrollbar::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 200, 0.5);
  border-radius: 10 0px;
}

.option {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.option-name {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.option-name__local-name {
  margin-right: 1rem;
  font-weight: 500;
}
.option-controls {
  padding: 5px 0;
  display: flex;
}
.option-select:not(:first-child) {
  margin-left: 5px;
}

.option-select__control:hover {
  cursor: pointer;
}
.option-select .option-select__control {
  background-color: var(--secondary-color);
  transition: background-color 0.2s;
  width: 10rem;
  border: none;
  border-radius: 3px;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.option-select .option-select__control:hover {
  background-color: var(--secondary-color-hover);
}

.option-select .option-select__value-container {
  border: none;
  box-shadow: none;

  text-align: center;
}
.option-select .option-select__single-value {
  color: var(--primary-color-light);
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
.option-select .option-select__menu {
  background-color: var(--secondary-color);
  transform: translateY(-3px);
  text-align: center;
  font-size: 1.5rem;
}
.option-select .option-select__option {
  background-color: transparent;
  transition: all 0.2s;
}
.option-select .option-select__option--is-selected {
  color: inherit;
}

.option-select .option-select__control--menu-is-open {
  box-shadow: none;
}

.option-select .option-select__option:hover {
  color: var(--primary-color-light);
}
.option-select .option-select__option:active {
  background-color: transparent;
}
.option-select .option-select__input {
  color: var(--primary-color-light);
}
.option-select__font-size .option-select__control {
  width: 5rem;
}
