.header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 0;
}
.header-brand {
  text-decoration: none;
  color: currentColor;
  display: flex;
  align-items: center;
  transition: color 0.2s;
}
.header-brand:hover {
  color: var(--primary-color-light);
}
.header-brand-logo {
  width: 3rem;
  fill: currentColor;
  transition: fill 0.2s;
}
.header-brand-name {
  letter-spacing: 1px;
  margin-left: 1rem;
}

.header-edit {
  width: 1.2rem;
  fill: var(--secondary-color-dark);
  transform: translate(-15px, 3px);
  z-index: 0;
  transition: fill 0.2s;
}
.header-algorithm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-algorithm-name {
  text-align: center;
  padding: 0 2rem;
  font-weight: 400;
  font-size: 3rem;
  z-index: 1;
  transition: color 0.2s;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}

.header-algorithm-name:hover {
  color: var(--primary-color-light);
}
.header-algorithm-name:focus {
  color: var(--primary-color-light);
  outline: none;
}
