*,*::after, *::before{
  padding:0;
  margin:0;
  box-sizing: inherit;
}
:root{
  --primary-color: #9E9E9E;
  --primary-color-light: #d3d3d3;
  --secondary-color: #6D6D6A;
  --secondary-color-hover: #7d7d7d;
  --secondary-color-dark-hover:#343434;
  --secondary-color-dark: #434340;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: lato, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e2e2a;
  color: var(--primary-color);
}


